body{
    overflow: hidden;
}

.overlay{
    position: relative;
    max-width: fit-content;
}

.black{
    position: absolute;
    inset: 0;
    opacity: 0;
    z-index: -1;
}

.black.show{
    opacity: 1;
    z-index: 2;
}

.black img {
    margin: 15px auto 0;
    display: block;
}

.congratulations {
    color: white;
    margin: 0 auto 20px;
    font-family: 'Itim';
    padding: 5px;
    font-size: 18px;
    background-color: black;
    max-width: fit-content;
    border-radius: 8px;
}

.start {
    display: block;
    max-width: 60px;
    text-align: center;
    text-decoration: none;
    color: white;
    margin: 0 auto;
    padding-block: 18px;
    background-color: darkblue;
    border-radius: 16px;
}